/*style.css */
body {
    margin: 0px;
    padding: 0px;
  }
  
  .navbar {
    width: 100%;
    height: 76px;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: fixed !important;
    top: 0 !important;
    z-index: 100 !important;
    box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.75);
  }
  
  .Logo {
    width: auto;
    height: 76px;
    display: flex;
    justify-content: center;
    margin-top: -8px;
    margin-left: 23px;
  }
  .Logo img {
    height: 100%;
    width: 100%;
  }
  .Logo img:hover {
    cursor: pointer;
  }
  
  .Navlinks {
    /* border: 2px solid red; */
    width: 330px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .Navlinks a {
    text-decoration: none;
    color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
  
  .Navlinks a:hover {
    color: rgba(23, 248, 248, 0.978);
    font-size: 22px;
    transition: 1s;
  }
  
  .Signin {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    margin-top: -8px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(2, 198, 133);
    box-shadow: 3px;
    border-radius: 6px;
  }
  
  .Signin a {
    margin-top: 7.2px;
    font-size: 15px;
  }
  
  .Signin:hover {
    background-color: rgb(3, 218, 146);
    width: 100px;
    height: 41px;
    cursor: pointer;
  }
  
  .Signin a {
    text-decoration: none;
    color: aliceblue;
  }










@import url(
'https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.807);
    font-family: 'Poppins', sans-serif;

}

.textup {
    text-align: center;
    color: rgb(11, 118, 11);
    font-weight: 700;
}

i {
    margin-right: 3px;
}

.form-box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
    padding: 15px;
    border-radius: 8px;
    width: 500px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.radio-group {
    display: flex;
    margin-bottom: 16px;
}

input[type="radio"] {
    margin-right: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 17px;
    color: green;
    font-weight: 600;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 10px;

}

button {
    background-color: #368b44;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    transition: .2s linear;
}

button:hover {
    background-color: #0a6808;
    border: none;
    transform: translateY(-10px);
}

h1 {
    color: green;
}


.Hero4 {
  background-color: black;
  width: 100%;
  height: 40px;
  display: flex !important;
  justify-content: center !important;
  color: white;
}