body {
  margin: 0px;
  padding: 0px;
}




.Hero4 {
  background-color: black;
  width: 100%;
  height: 40px;
  display: flex !important;
  justify-content: center !important;
  color: white;
}

@media screen and (max-width: 768px) {
    .Navlinks{
      display: none;
    }           
    .Signin{
      display: none;
    }        
}