body {
    margin: 0px;
    padding: 0px;
  }
  
  .custom-navbar{
    box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.75);
  }



  .Text{
    margin-top: 60px !important;
    margin-left: 27px !important;
    font-size: 17px;
  }

.Number{
    margin-top: -36px;
    margin-left: 70px;
}



.Hero4 {
  background-color: black;
  width: 100%;
  height: 40px;
  display: flex !important;
  justify-content: center !important;
  
  color: white;
}