body {
    margin: 0px;
    padding: 0px;
  }
  
  



  .Text{
    margin-top: 60px !important;
    margin-left: 27px !important;
    font-size: 17px;
  }

.Number{
    margin-top: -36px;
    margin-left: 70px;
}



.Hero4 {
  background-color: black;
  width: 100%;
  height: 40px;
  display: flex !important;
  justify-content: center !important;
  
  color: white;
}